    /*########## configurações do corpo ##########*/
    html, body{
        margin: 0;
        padding: 0;
    }
    
        /*########## background ##########*/
    body{
        background-image: "../asse";
        background-image: url(../assets/Folhas.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;   
    }
    
       /*########## header ##########*/
    
    .topo{
        font-family: Arial, Helvetica, sans-serif;
        /* position: 100%;
        height: 100%;
        box-sizing: content-box;
        border-bottom-left-radius:10px ;
        border-bottom-right-radius:10px ; */
        align-items: center;
        background-color: #fff;
        display: flex;
        height: 20px;
        justify-content: space-between;
        padding: 0 8px 0 12px;
        position: relative;
        z-index: 2;
        
            /*translucides topo*/
    
        margin: 0px;
        padding: 20px;
        align-items: center;
        margin-bottom: 10px;
    }
    .logo{
        height: 50px;
        position: center;
    }
    
         /*########## botao de login ##########*/
    .login{
        background-color: #CB6453;
        color: white;
        border: none;
        padding:10px  ;
        border-radius: 10px;
        float: right;
        
    }
    
    .corpo-esq{
        backdrop-filter: blur(2px) saturate(59%);
            -webkit-backdrop-filter: blur(2px) saturate(59%);
            background-color: rgba(255, 255, 255, 0.4);
            border-radius: 10px;
            border: 1px solid rgba(209, 213, 219, 0.3);
    
        color: white;
        
        height: 850px;
        width: 78%;
        float: left;
        border-radius: 10px;
        margin-left: 5px;
        margin-right: 5px;
        
    }
    
    .corpo-dir{
        backdrop-filter: blur(2px) saturate(59%);
            -webkit-backdrop-filter: blur(2px) saturate(59%);
            background-color: rgba(255, 255, 255, 0.4);
            border-radius: 10px;
            border: 1px solid rgba(209, 213, 219, 0.3);
    
        float: right;
        width: 20%;
        
        height: 850px;
        border-radius: 10px;
        margin: left 10px;
        margin-right: 5px;
    }
    
    footer{
        background-color: green;
    }