html, body{
    margin-top: 0;
    
}

.topo{
    font-family: Arial, Helvetica, sans-serif;
    /* padding: 20px;
    text-align: center;
    background: aliceblue;
    color: black;
    
    position: 100%;
    height: 100%;
    box-sizing: content-box;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius:10px ; */
    background-color: #fff;
    height: 20px;
    justify-content: space-between;
    padding: 0 8px 0 12px;
    position: relative;
    z-index: 2;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius:10px ;

    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    
/*translucides topo*/

    /* border: 1px solid rgba(209, 213, 219, 0.3); */
    margin: 0px;
    padding: 20px;
    align-items: center;
}
.container{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 300px;
    margin: auto;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 20px;
    position:absolute;
}

input{
    display: block;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
}

body{
    background-image: url(../assets/Folhas.jpg);
    
}

.enviar {
        position: relative;
        font-size: 10px;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1em 2.5em;
        display: inline-block;
        border-radius: 6em;
        transition: all .2s;
        border: none;
        font-family: inherit;
        font-weight: 500;
        color: black;
        background-color: white;
}

.voltar{
    background-color: white;
    border: none;
    padding:10px  ;
    border-radius: 10px;
    
    text-decoration: none;
        float: right;
}
   
   .enviar:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
   }   
   .enviar:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   }
   .enviar::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
        background-color: #fff;
   }   
   .enviar:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
   }
   
    body {
   
    background-position: center;
    background-repeat: no-repeat;

    margin: 0px;
    
}


.container {
        
        backdrop-filter: blur(2px) saturate(59%);
        -webkit-backdrop-filter: blur(2px) saturate(59%);
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 12px;
        border: 1px solid rgba(209, 213, 219, 0.3);
        position: inherit;
    
}

/*Input styles*/

.entrada{
    position: relative;
        font-size: 12px;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1em 2.5em;
        display: inline-block;
        border-radius: 6em;
        transition: all .2s;
        border: none;
        font-family: inherit;
        font-weight: 500;
        color: black;
        background-color: white;
}

   .entrada:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
   }
   
   .entrada:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   }
   
   .entrada::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
        background-color: #fff;
   }
   
   .entrada:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
   }

   .titulo{
       color: white;
   }