/* Header */
.topo{
    font-family: Arial, Helvetica, sans-serif;

    align-items: center;
    background-color: #fff;
    display: flex;
    height: 20px;
    justify-content: space-between;
    padding: 0 8px 0 12px;
    position: relative;
    z-index: 2;

    margin: 0px;
    padding: 20px;
    align-items: center;
    margin-bottom: 10px;
}
.logo{
    height: 50px;
    position: center;
}
/* botao voltar */
.voltar{
    background-color: #CB6453;
    color: white;
    border: none;
    padding:10px  ;
    border-radius: 10px;
    float: right;
    
}
/* body */
body{
    background-image: url(../assets/Folhas.jpg);
    background-position: center;
    background-repeat: no-repeat;

    margin: 0px;
}

/* center container */
.container{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 300px;
    margin: auto;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 20px;
    position:absolute;
}

.container {
    
    backdrop-filter: blur(2px) saturate(59%);
    -webkit-backdrop-filter: blur(2px) saturate(59%);
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    position: inherit;

}

/* Input styles */

input{
    display: block;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
}

.enviar {
        position: relative;
        font-size: 10px;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1em 2.5em;
        display: inline-block;
        border-radius: 6em;
        transition: all .2s;
        border: none;
        font-family: inherit;
        font-weight: 500;
        color: black;
        background-color: white;
}
 
   .enviar:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
   }   
   .enviar:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   }
   .enviar::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
        background-color: #fff;
   }   
   .enviar:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
   }

/*Input styles*/

.entrada{
    position: relative;
        font-size: 12px;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1em 2.5em;
        display: inline-block;
        border-radius: 6em;
        transition: all .2s;
        border: none;
        font-family: inherit;
        font-weight: 500;
        color: black;
        background-color: white;
}

   .entrada:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
   }
   
   .entrada:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   }
   
   .entrada::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
        background-color: #fff;
   }
   
   .entrada:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
   }

   .titulo{
       color: white;
   }